# This is the .env file template
# Copy this file to .env and edit as needed

GAME_SYSTEM_ID="las-torre-malditas"
SOURCE_DIR="$HOME/projects/las-torre-malditas"
DEST_DIR="$HOME/.local/share/FoundryVTT/Data/systems/$GAME_SYSTEM_ID"
FOUNDRY_PATH="$HOME/FoundryVTT/foundryvtt"
LOG_PATH="$HOME/projects/las-torre-malditas/logs/foundry.log"